body {
    background-color: #141414;
    margin: 0;
    font-family: Helvetica, Arial ,sans-serif;
    
}
header{
    background-color: transparent;
    top:0;
   
    width: 100%;
}

.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-brand{
    max-width: 110px;
}
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}
.nav-item{
    margin-right: 20px;
    color: #e5e5e5;
    opacity: .83;
}
.nav-item.active{
    color: white;
    opacity: 1;
    font-weight: 500;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}


.card {
    list-style:none;
    padding: 10px;
    color: #e5e5e5;
    text-align: center;
    position:relative;
    
}





.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
    position: relative;
    z-index: 2;
}

.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
    position: relative;
    z-index: 2;
}

.card-image {
    height: 180px;
    position: relative;
    z-index: 2;
}